{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>

    <!-- Authors -->
    {% if post.authors %}
      <p class="archive__item-authors">
        {{ post.authors }}
      </p>
    {% endif %}

    <!-- Venue + Year -->
    {% if post.collection == 'publications' %}

      {% unless post.category == "manuscripts" %}

        {% if post.venue and post.date %}
          <p><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>

        {% elsif post.venue %}
          <p><em>{{ post.venue }}</em></p>

        {% elsif post.date %}
          <p>{{ post.date | date: "%Y" }}</p>
        {% endif %}

      {% endunless %}

    {% elsif post.collection == 'teaching' %}

      <p>{{ post.type }}, <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>

    {% elsif post.date %}

      <p class="page__date">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      </p>

    {% endif %}

    <!-- Excerpt -->
    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify }}
      </p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

  </article>
</div>
